@use "../abstracts/variables";

// table style
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 2px;
    line-height: 1;
    thead {
        border-top: variables.$secondary-border;
        border-bottom: variables.$thin-border;
        th {
        padding: 10px 10px;
        font-size: variables.$font-size-primary;
        }
    }
    tbody {
        border-bottom: variables.$thin-border;
        td {  
        padding: 8px 10px;
        font-size: variables.$font-smaller;
        }
    }
}